/*1770px - 1550px*/
@media screen and (max-width: 1770px) {
    .flower {
        width: 500px;
    }
    .branch {
        width: 350px;
        left: 100px;
    }
    .flower-table {
        width: 630px;
        left: 20px;
    }
}
/*1550px - 1400px*/
@media screen and (max-width: 1550px) {
    .flower {
        width: 400px;
        margin-top: 75px;
    }
    .branch {
        width: 300px;
        left: 100px;
    }
    .header-img {
        width: 1395px;
        top: -330px;
    }
    .flower-table {
        width: 500px;
        left: 50px;
    }
    .branch-table {
        width: 350px;
        right: 80px;
    }
    .posscriptum {
        margin-left: 410px;
    }
}
/*1400px - 1200px*/
@media screen and (max-width: 1400px) {
    
}
/*1200px - 992px*/
@media screen and (max-width: 1200px) {
    
}

/*992px - 768px*/
@media screen and (max-width: 992px) {
    
}

/*768px - 576px*/
@media screen and (max-width: 768px) {
    .branch-table {
        width: 228px;
        right: 9px;
    }
    .flower-table {
        width: 517px;
        left: -201px;
    }
    .colors {
        max-width: 380px;
    }
    .posscriptum {
        margin-left: 120px;
    }
    .text {
        font-size: 25px;
    }
    .heading {
        font-size: 60px;
    }
    .header-img {
        width: 763px;
        top: -162px;
    }
    .branch {
        width: 194px;
        left: 20px;
    }
    .flower {
        width: 202px;
        margin-top: 75px;
    }
}

/*576px - 0px*/
@media screen and (max-width: 576px) {
    .flower-table {
        display: none;
    }
    .branch-table {
        display: none;
    }
    .flower {
        display: none;
    }
    .branch {
        display: none;
    }
    .container {
        width: 90%;
    }
    .text {
        max-width: 100%;
    }
}