.white-bcgr {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 20px;
    max-width: 560px;
    margin: 0 auto;
    
}
.timing-part {
    .time {
        font-family: 'Sunday';
        font-size: 25px;
        align-items: flex-end;
    }
    .type {
        font-family: 'Script';
        font-size: 50px;
        align-items: flex-end;
    }
}
.where {
    font-family: 'Bonche';
    font-style: italic;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.flower-table {
    position: absolute;
    width: 620px;
    height: auto;
    left: 195px;
    margin-top: 150px;
    transform: scale(-1, 1);
}
.branch-table {
    position: absolute;
    width: 410px;
    height: auto;
    right: 255px;
    margin-top: 150px;
    transform: scale(-1, 1);
}