@font-face {
    font-family: 'PrincessDiana';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Princess-Diana.ttf');
}
@font-face {
    font-family: 'Bonche';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ofont.ru_Bonche.ttf');
}
@font-face {
    font-family: 'Sunday';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ofont.ru_Sunday.ttf');
}
@font-face {
    font-family: 'Script';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ofont.ru_Script.ttf');
}

@import './null';
@import './header';
@import './info';
@import './table';
@import './responsive';



.container {
	width: 50%;
	margin: 0 auto;
    justify-content: center;
}
.fx {
	display: flex;
}
.jc-c {
	justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.fd-col {
	flex-direction: column;
}
.wrapper {
	justify-content: center;
    gap: 16px;
}
.mt20 {
    margin-top: 20px;
}

$mainColor: #223826;